img {
      max-width: 100%;
}

body {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(auto, auto);
      color: #ffffff;
      ;
      font-family: "Segoe UI", sans-serif;
      text-shadow: 0.4px 0.4px 0.4px rgba(0, 0, 0, .2);
}

h1 {
      font-weight: lighter;
      grid-column: span 3;
      text-align: center;
      color: #ec407a;
}

#wrapper {
      display: grid;
      grid-column: 3 / 11;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-row-gap: 10px;
      margin-top: 3.6rem;
}

#clock-box,
#info {
      grid-column: span 3;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
}

#clock-box #clock {
      grid-column: 4 / 10;
      padding: .6rem 2rem;
      padding-top: .8rem;
      text-align: center;
      font-size: 2.4rem;
      border-radius: 10rem;
}

date,
time {
      display: block;
}

date {
      font-size: 18px;
}

time {
      font-family: "Arial", sans-serif;
      line-height: 3.2rem;
      letter-spacing: 2px;
}

.avt {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

#info {
      margin-top: 2.6rem;
}

#heart {
      grid-column: span 2;
      display: grid;
      grid-template-rows: 2;
      font-size: 44px;
      color: #b90d46;
      align-self: center;
      padding-bottom: 2.6rem;
      text-align: center;
}

anni {
      font-size: 16px;
      letter-spacing: 0.2px;
}

#info .one {
      grid-column: 3 / 6;
      text-align: center;
      font-family: cursive;
}

#info .two {
      grid-column: 8 / 11;
      text-align: center;
      font-family: cursive;
}

footer {
      grid-column: span 3;
      text-align: center;
      font-size: 1.6rem;
      font-weight: lighter;
      margin-top: 1.2rem;
}

#music {
      grid-column: 2;
      position: relative;
      z-index: 1000;
      opacity: .4;
}

#mask {
      background-image: linear-gradient(to top, #6d44cc5d 0%);
      opacity: .42;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}

#hearts {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
}

.heart-container {
      float: left;
      position: absolute;
      top: -20px;
      left: -20px;
      -moz-animation-duration: 8s;
      -moz-animation-name: fall;
      -moz-animation-timing-function: linear;
      -webkit-animation-duration: 8s;
      -webkit-animation-name: fall;
      -webkit-animation-timing-function: linear;
}

@-moz-keyframes fall {
      from {
            top: -20px;
      }

      to {
            top: 100%;
      }
}

@-webkit-keyframes fall {
      from {
            top: -10%;
      }

      to {
            top: 100%;
      }
}

.heart {
      overflow: hidden;
      height: 20px;
      width: 20px;
      font-size: 20px;
      text-align: center;
      color: red;
      -moz-animation-duration: 0.5s;
      -moz-animation-name: swing;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      -moz-transform-origin: center center;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-name: swing;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      -webkit-transform-origin: center center;
}

@-moz-keyframes swing {
      from {
            -moz-transform: rotate(-45deg) translateX(10px);
      }

      to {
            -moz-transform: rotate(45deg) translateX(-10px);
      }
}

@-moz-keyframes spin {
      from {
            -moz-transform: scaleX(1) translateX(5px);
      }

      50% {
            -moz-transform: scaleX(0.1);
      }

      to {
            -moz-transform: scaleX(1) translateX(-5px);
      }
}

@-webkit-keyframes swing {
      from {
            -webkit-transform: rotate(-45deg) translateX(10px);
      }

      to {
            -webkit-transform: rotate(45deg) translateX(-10px);
      }
}

@-webkit-keyframes spin {
      from {
            -webkit-transform: scaleX(1) translateX(5px);
      }

      50% {
            -webkit-transform: scaleX(0.1);
      }

      to {
            -webkit-transform: scaleX(1) translateX(-5px);
      }
}

.heart_main{
      grid-column: 2 / 2;
      width: 30px;
      height: 30px;
      background: #F90B57;
      position: relative;
      box-shadow: 0 0 20px #ff155f,
                  0 0 60px #ff155f;
      transform: rotate(-45deg);
      animation: heart_main 1s linear infinite 0.2s alternate;
  }
  @keyframes heart_main {
      0%{
          transform: rotate(-45deg) scale(1);
      }
      90%{
          transform: rotate(-45deg) scale(1.6);
      }
      100%{
          transform: rotate(-45deg) scale(1.4);
      }
  }
  .heart_main::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #F90B57;
      border-radius: 50%;
      left: 0;
      top: -50%;
  }
  .heart_main::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #F90B57;
      border-radius: 50%;
      top: 0;
      right: -50%;
  }